# Project exclude paths
/target/
webserver/web-server.iml
webserver/.idea/workspace.xml
webserver/.idea/vcs.xml
webserver/.idea/modules.xml
webserver/.idea/misc.xml
webserver/.idea/libraries/Maven__org_yaml_snakeyaml_1_26.xml
webserver/.idea/libraries/Maven__org_xerial_snappy_snappy_java_1_1_7_3.xml
webserver/.idea/libraries/Maven__org_springframework_spring_websocket_5_2_10_RELEASE.xml
webserver/.idea/libraries/Maven__org_springframework_spring_webmvc_5_2_10_RELEASE.xml
webserver/.idea/libraries/Maven__org_springframework_spring_web_5_2_10_RELEASE.xml
webserver/.idea/libraries/Maven__org_springframework_spring_tx_5_2_10_RELEASE.xml
webserver/.idea/libraries/Maven__org_springframework_spring_messaging_5_2_10_RELEASE.xml
webserver/.idea/libraries/Maven__org_springframework_spring_jcl_5_2_10_RELEASE.xml
webserver/.idea/libraries/Maven__org_springframework_spring_expression_5_2_10_RELEASE.xml
webserver/.idea/libraries/Maven__org_springframework_spring_core_5_2_10_RELEASE.xml
webserver/.idea/libraries/Maven__org_springframework_spring_context_5_2_10_RELEASE.xml
webserver/.idea/libraries/Maven__org_springframework_spring_beans_5_2_10_RELEASE.xml
webserver/.idea/libraries/Maven__org_springframework_spring_aop_5_2_10_RELEASE.xml
webserver/.idea/libraries/Maven__org_springframework_retry_spring_retry_1_2_5_RELEASE.xml
webserver/.idea/libraries/Maven__org_springframework_kafka_spring_kafka_2_5_7_RELEASE.xml
webserver/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_websocket_2_3_5_RELEASE.xml
webserver/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_3_5_RELEASE.xml
webserver/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_3_5_RELEASE.xml
webserver/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_3_5_RELEASE.xml
webserver/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_3_5_RELEASE.xml
webserver/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_3_5_RELEASE.xml
webserver/.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_3_5_RELEASE.xml
webserver/.idea/libraries/Maven__org_springframework_boot_spring_boot_2_3_5_RELEASE.xml
webserver/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_30.xml
webserver/.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_30.xml
webserver/.idea/libraries/Maven__org_projectlombok_lombok_1_18_16.xml
webserver/.idea/libraries/Maven__org_lz4_lz4_java_1_7_1.xml
webserver/.idea/libraries/Maven__org_glassfish_jakarta_el_3_0_3.xml
webserver/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_39.xml
webserver/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_9_0_39.xml
webserver/.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_13_3.xml
webserver/.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_13_3.xml
webserver/.idea/libraries/Maven__org_apache_kafka_kafka_clients_2_5_1.xml
webserver/.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_1_3_5.xml
webserver/.idea/libraries/Maven__com_github_luben_zstd_jni_1_4_4_7.xml
webserver/.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_11_3.xml
webserver/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_11_3.xml
webserver/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_11_3.xml
webserver/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_11_3.xml
webserver/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_11_3.xml
webserver/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_11_3.xml
webserver/.idea/libraries/Maven__com_alibaba_fastjson_1_2_74.xml
webserver/.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_3.xml
webserver/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_3.xml
webserver/.idea/encodings.xml
webserver/.idea/compiler.xml
webserver/.idea/libraries/Maven__org_slf4j_slf4j_log4j12_1_7_30.xml
webserver/.idea/libraries/Maven__org_languagetool_languagetool_core_2_5.xml
webserver/.idea/libraries/Maven__org_languagetool_language_zh_2_5.xml
webserver/.idea/libraries/Maven__org_languagetool_language_en_2_5.xml
webserver/.idea/libraries/Maven__org_jsoup_jsoup_1_8_2.xml
webserver/.idea/libraries/Maven__org_carrot2_morfologik_stemming_1_9_0.xml
webserver/.idea/libraries/Maven__org_carrot2_morfologik_speller_1_9_0.xml
webserver/.idea/libraries/Maven__org_carrot2_morfologik_fsa_1_9_0.xml
webserver/.idea/libraries/Maven__org_apache_tika_tika_core_1_4.xml
webserver/.idea/libraries/Maven__org_apache_opennlp_opennlp_tools_1_5_3.xml
webserver/.idea/libraries/Maven__org_apache_opennlp_opennlp_maxent_3_0_3.xml
webserver/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_10.xml
webserver/.idea/libraries/Maven__net_sourceforge_segment_segment_1_4_2.xml
webserver/.idea/libraries/Maven__net_java_dev_jna_jna_4_0_0.xml
webserver/.idea/libraries/Maven__log4j_log4j_1_2_17.xml
webserver/.idea/libraries/Maven__io_reactivex_rxjava_1_3_8.xml
webserver/.idea/libraries/Maven__edu_washington_cs_knowitall_opennlp_tokenize_models_1_5.xml
webserver/.idea/libraries/Maven__edu_washington_cs_knowitall_opennlp_postag_models_1_5.xml
webserver/.idea/libraries/Maven__edu_washington_cs_knowitall_opennlp_chunk_models_1_5.xml
webserver/.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
webserver/.idea/libraries/Maven__commons_io_commons_io_2_4.xml
webserver/.idea/libraries/Maven__com_kennycason_kumo_tokenizers_1_12.xml
webserver/.idea/libraries/Maven__com_kennycason_kumo_core_1_13.xml
webserver/.idea/libraries/Maven__com_kennycason_kumo_api_1_13.xml
webserver/.idea/libraries/Maven__com_googlecode_ictclas4j_ictclas4j_1_0_1.xml
webserver/.idea/libraries/Maven__com_google_code_cjftransform_1_0_1.xml
webserver/.idea/libraries/Maven__com_github_davidmoten_rxjava_extras_0_8_0_7.xml
webserver/.idea/libraries/Maven__com_github_davidmoten_rtree_0_8_0_1.xml
webserver/.idea/libraries/Maven__com_github_davidmoten_guava_mini_0_1.xml
webserver/target/classes/webserver/util/ResultMsg.class
webserver/target/classes/webserver/util/KafKaUtil.class
webserver/target/classes/webserver/socket/MessageSocket.class
webserver/target/classes/webserver/kafka/KafkaManager.class
webserver/target/classes/webserver/kafka/ControllableConsumer.class
webserver/target/classes/webserver/handle/SiteMessageHandle.class
webserver/target/classes/webserver/handle/PlayerWinHandle.class
webserver/target/classes/webserver/handle/Player.class
webserver/target/classes/webserver/controller/ConsumerController.class
webserver/target/classes/webserver/config/WebSocketConfig.class
webserver/target/classes/webserver/config/GlobalCorsConfig.class
webserver/target/classes/webserver/WebServerApp.class
webserver/target/classes/application.properties
webserver/src/main/java/webserver/handle/test.png
webserver/src/main/java/webserver/handle/Player.java
spark-streaming/.idea/workspace.xml
spark-streaming/.idea/vcs.xml
spark-streaming/.idea/misc.xml
